@using UrunYorum.Data.Entities;
@using UrunYorum.Core;
@using UrunYorum.Base.Enums;
@model Product

@{
    this.SetTitle(Model.ProductName);
}
<header>
    <h2>@Html.CreateLink(Model.Manufacturer.RouteMapInfo.Slug, Model.Manufacturer.Name, LinkType.ManufacturerDetail) @Model.ProductName</h2>
    <h3>Detayı</h3>
</header>
<article>
    <table>
        <tr>
            <td>Ürün Adı</td>
            <td>@Model.ProductName</td>
        </tr>
        <tr>
            <td>Üretici Bilgisi</td>
            <td>
                @Model.Manufacturer.FullName
                <br />
                <a href="@Model.Manufacturer.WebsiteURL">@Model.Manufacturer.WebsiteURL</a>
            </td>
        </tr>
        <tr>
            <td>Ürün Adı</td>
            <td>@Model.ProductName</td>
        </tr>
    </table>
</article>
<hr />
<section>
    @if (Model.Reviews.Count > 0)
    {
         <header>
            <h3>@Model.Reviews.Count yorum var</h3>
        </header>
        foreach (Review review in Model.Reviews)
        {
            @Html.Partial("../Review/Single", review, ViewData)
        }
    }
    else
    {
        <span>Yorum Yazılmamış</span>
    }
   
</section>